@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
@using Factory.Models;

  <h2>Machine Details</h2>
  <hr/>
  <p><strong>@Html.DisplayNameFor(selectedMachine => selectedMachine.Name)</strong>: @Html.DisplayFor(selectedMachine => selectedMachine.Name)</p>
<hr/>

<p>@Html.ActionLink("Register Machine", "Register", new { id = @Model.MachineId })</p>
<p>@Html.ActionLink("Delete Machine", "Delete", new { id = @Model.MachineId })</p>
<p>@Html.ActionLink("Back to Machines", "Index")</p>
