@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;

<div class="container">
  <h2>Engineer Details</h2>
  <hr/>
  <p><strong>@Html.DisplayNameFor(selectedEngineer => selectedEngineer.Name)</strong>: @Html.DisplayFor(selectedEngineer => selectedEngineer.Name)</p>
</div>
<hr/>

<h2>Registered Machines</h2>

@if (Model.JoinEntities.Count == 0)
      {
        <p>No Machines registered.</p>
      }
else
{
  <ul>
    @foreach (MachineEngineer registered in Model.JoinEntities)
    {
      <li>@Html.ActionLink($"{registered.Machine.Name}", "Details", "Machines", new { id = registered.MachineId})</li>
    }
  </ul>
}

<p>@Html.ActionLink("Register Engineer", "Register", new { id = @Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = @Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineers", "Index")</p>

